
          <div class="publications">
            <h2>Selected Publications</h2>
            {% bibliography -f papers -q @*[selected=true]* %}
          </div>

          <div class="education" style="margin-bottom: 10px;">
            <h2>Education</h2>
            <ul>
                <li><strong>University of California, Los Angeles, 2022.09 - Present</strong>
                    <br>PhD in Statistics and Data Science, Most Promising Statistician Award
                </li>
                <li><strong>Fudan University, 2018.09 - 2022.06</strong>
                    <br>B.S. in Data Science and Big Data Technology, First-Class Honor
                </li>
            </ul>
        </div>
        
        <div class="experiences" style="margin-bottom: 10px;">
          <h2>Experience</h2>
          <ul>
            <li>
                <strong>Google Research</strong>, Student Researcher, Spring&Summer 2025
            </li>
              <li>
                  <strong>Amazon AWS AI Labs</strong>, Applied Scientist Intern, Summer 2024
              </li>
          </ul>
      </div>
      
      

 
      
      <div id="map-container">
          <script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=080808&w=a&t=tt&d=3hYg96CqA8tHVFDAUu79fnP_Kxf-pWJg6j4naqdR5S0&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080'></script>
      </div>

          

          <!-- <script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=ffffff&w=a&t=n&d=3hYg96CqA8tHVFDAUu79fnP_Kxf-pWJg6j4naqdR5S0&co=64b3eb'></script> -->
          <!-- <script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=ffffff&w=a&t=tt&d=3hYg96CqA8tHVFDAUu79fnP_Kxf-pWJg6j4naqdR5S0&co=64b3eb'></script> -->